*.rs linguist-language=Rust
*.c linguist-language=C
*.h linguist-language=C
*.s linguist-language=Assembly
*.S linguist-language=Assembly
*.asm linguist-language=Assembly

uselib/print/** linguist-vendored=false