# Rust
*.rs linguist-language=Rust

# C
*.c linguist-language=C
*.h linguist-language=C

# Assembly
*.s linguist-language=Assembly
*.S linguist-language=Assembly
*.asm linguist-language=Assembly

# 明示的にソースコードとして扱う
src/** linguist-detectable=true
uselib/print/** linguist-detectable=true
uselib/regex/** linguist-detectable=true
